ol,ul{
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}
a{
    text-decoration: none;
}
button {
    cursor: pointer;
  }
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}
img{
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6{
  margin: 0;
  padding: 0;
}
p{
    margin: 0;
    padding: 0;   
}
.order{
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.twy-hero{
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-family: Roboto;
}

.benefist-list{
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.benefist-list-text{
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
.one-container{
    display: flex;
    align-items: center;
}  
.page-nav{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    gap: 40px;
}
.list-menu{
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.link-menu{
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.blok-contakt{
    font-style: normal;
    margin-left: auto;
}
.link-menu.active {
    position: relative;
    color: #404bbf;
  }
  
  .link-menu.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    bottom: -1px; 
  }
.logo{
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.text-web{
     color: #2e2f42;
}
.link-menu{
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2e2f42;
}
.link-menu.acktive{
     color: #404bbf;
}
.link-menu:hover,
.link-menu:focus{
    color: #404bbf;
}
.contakt-link{
    font-size: 16px;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    display: block;
    font-weight: 400;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contakt-link:hover,
.contakt-link:focus{
    color: #404bbf;
}
.contakt{
    display: flex;
    gap: 40px;
}
.hero{
    background: #2e2f42;
    padding: 188px 0;
    background-image:  linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)
    ),
    url('../images/bg.jpg');
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.our-advantages{
    padding: 120px 0 ;
}
.svgsection{
    border: 1px solid #8e8f99;
border-radius: 4px;
background: #f4f4fd;
}
.svg-section-advantages{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}
.order{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}
.btn-order-service{
    background: #4d5ae5;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    gap: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-order-service:hover,
.btn-order-service:focus{
    background-color: #404BBF;
}
.twy-hero{
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link-our-advantages{
    display: flex; 
    gap: 24px;
}
.list-our-advantages{
    width: calc((100% - 72px) / 4);
}
.benefist-list{
    font-weight: 500;
    font-size: 20px;    
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    
}
.benefist-list-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.list-link-team{
    padding: 120px 0;
    background: #f4f4fd;
}
.list-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.section-link-list-team{
    display: flex;
    gap: 24px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
background: #fff;
}
.row-team{
    padding: 32px 0;
}
.link-team-section{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}
.list-ligo-icon{
    display: flex;
    justify-content: center; 
    gap: 24px;
}
.social-list-link{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus{
    background-color: #404bbf;
}
.logo-icon{
    fill: #f4f4fd;
}
.text-avatara{
    font-weight: 500;
    font-size:20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42 ;
    text-align: center;
    margin-bottom: 8px;
}
.subtitle-avatar{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.our-portfolio{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
}
.inem-our-img{
    max-width: 360px;
}
.link-our-portfolio{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.row {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  }
  .container-owerlay{
    position: relative;
    overflow: hidden;
  }
  .list-link-our-portfolio{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-link-our-portfolio:hover .tex-page{
    transform: translateY(0%);
  }
  .list-link-our-portfolio:hover{
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
  .tex-page{
    position: absolute;
  background: #4d5ae5;
  color: #f4f4fd;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5; 
  letter-spacing: 0.02em;
  }
.list-our-portfolio{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    max-width: 360px;
    margin-bottom: 8px;
    text-align: start;
}
.subtitle-our-portfolio{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    max-width: 360px;
    margin-bottom: 8px;
    text-align: start;
}
.page-portfolio{
    padding: 120px 0px;
}
.logo-flooter{
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}
.text-web-flooter{
    color: #f4f4fd;
}
.abbreviation{
    color: #f4f4fd;
    max-width: 264px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.list-flooter{
    background: #2e2f42;
     padding: 100px 0;

}
.container.container-flooter{
    display: flex;
    align-items: baseline;

}
.list-link-team{
    background-color: #F4F4FD;
}
.list-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42 ;
}
.footer-logo-text{
    margin-right: 120px;
}
.our-portfolio-section{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:  #2e2f42;
    padding-top: 120px; 
    padding-bottom: 120px; 
}
.section-link-list-team{
    background-color: #FFFFFF;
}
.list-link-flooter-icons{
    width: 40px;
    height: 40px;
}
svgsection
.text-flooter-icon{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}
.icons-flooter{
    display: flex;
    gap: 16px;  
}
.social-icons-flooter-svg{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-flooter-svg:hover,
.social-icons-flooter-svg:focus{
    background-color: #31d0aa;
}
.ligo-icon{
    fill: #f4f4fd;
}