ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 288px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }
}
@media only screen and (min-width: 1157px) {
  .container {
    max-width: 1157px;
  }
}
/* ============ header style =============*/
.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.one-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-web {
  color: #2e2f42;
}
.open-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  fill: #2f2f37;
}
@media only screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .blok-contakt {
    display: none;
  }

  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .open-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    fill: #2f2f37;
  }
}
@media only screen and (min-width: 768px) {
  .blok-contakt {
    display: flex;
  }
  .open-menu-btn {
    display: none;
  }
  .page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 590px;
  }
  .menu {
    display: flex;
    gap: 40px;
    margin-right: 120px;
  }
  .menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms linear;
  }
  .list-menu {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .link-menu {
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .blok-contakt {
    font-style: normal;
    margin-left: auto;
  }
  .link-menu.active {
    position: relative;
    color: #404bbf;
  }

  .link-menu.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    bottom: -1px;
  }
  .link-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .link-menu.acktive {
    color: #404bbf;
  }
  .link-menu:hover,
  .link-menu:focus {
    color: #404bbf;
  }
  .contakt-link {
    font-size: 16px;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    font-weight: 400;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contakt-link:hover,
  .contakt-link:focus {
    color: #404bbf;
  }
  .contakt {
    gap: 12px;
  }
}
@media only screen and (min-width: 1157px) {
  .contakt {
    display: flex;
    gap: 40px;
  }
}
/* ============ /header style =============*/

/* ============ mobil menu style =============*/
@media only screen and (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-mobile-nav-menu {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-bottom: 40px;
  }

  .mobile-nav-menu {
    margin-top: 72px;
    margin-bottom: 168px;
  }
  .link-list-mobile-nav-menu {
    color: #2e2f42;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
  }

  .mobile-menu-container {
    position: relative;
  }
  .mobile-menu-close-btn {
    border-radius: 100%;
    fill: #e7e9fc;
    stroke-width: 1px;
    stroke: #2e2f42;

    position: absolute;
    top: 24px;
    right: 24px;

    border: none;
    padding: 0;
    line-height: 0;
  }
  .link-list-mobile-menu-contakt {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .list-mobile-menu-contakt {
    padding-bottom: 24px;
  }
  .mobile-menu-contakt {
    padding-bottom: 48px;
  }
  .mobile-menu-icons {
    display: flex;
  }
  .mobile-menu-icons-svg {
    padding-right: 40px;
  }
  .list-mobile-menu-icons {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* ============ /mobil menu style =============*/

/* ============ section effective style =============*/
.hero {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/dark-bg.jpg");
  max-width: 320px;
  padding: 61px 0;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.order {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 216px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}
.btn-order-service {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  gap: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 72px;
}
.btn-order-service:hover,
.btn-order-service:focus {
  background-color: #404bbf;
}
@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet-bg.jpg");
    max-width: 768px;
    padding: 126px 0;
  }
  .btn-order-service {
    margin-top: 36px;
  }
  .order {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    max-width: 500px;
  }
}

@media only screen and (min-width: 1157px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/bg.jpg");
    max-width: 1157px;
    padding: 126px 136px;
  }
  .btn-order-service {
    margin-top: 36px;
  }
  .order {
    max-width: 496px;
  }
}
/* ============ /section effective style  =============*/

/* ============ /section Our advantages style  =============*/
.svg-section-advantages {
  display: none;
}
.benefist-list {
  text-align: center;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.benefist-list-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.list-our-advantages {
  padding-bottom: 72px;
}
.link-our-advantages {
  margin-top: 96px;
  margin-bottom: 96px;
}
@media only screen and (min-width: 768px) {
  .link-our-advantages {
    /* display: flex; */
  }
  .list-our-advantages {
    /* width: calc((100% - 23px) / 2); */
  }
}
@media only screen and (min-width: 1157px) {
  .svg-section-advantages {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
  }
  .list-our-advantages {
    width: calc((100% - 72px) / 4);
    margin-right: 24px;
  }
  .link-our-advantages {
    display: flex;
  }
  .benefist-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: left;
  }
  .benefist-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
}
/* ============ /section Our advantages style  =============*/

/* ============ section Our team style  =============*/
.list-link-team {
  padding: 120px 0;
  background: #f4f4fd;
}
.team-link-avatar {
  max-width: 100%;
}
.list-team {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-link-list-team {
  gap: 24px;
}
.row-team {
  padding: 32px 0;
}
.link-team-section {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin-bottom: 72px;
}
.list-ligo-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-link {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}
.text-avatara {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.subtitle-avatar {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
@media only screen and (min-width: 768px) {
  .section-link-list-team {
    flex-wrap: wrap;
    display: flex;
  }
}

@media only screen and (min-width: 1157px) {
  .link-team-section {
    width: calc((100% - 72px) / 4);
  }
  .section-link-list-team {
    display: flex;
  }
}
/* ============ /section Our team style  =============*/

/* ============ /section Our team style  =============*/
.our-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  margin-top: 92px;
}
.our-portfolio-section {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
}
.inem-our-img {
  max-width: 288px;
}
.link-our-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.row {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.tex-page {
  display: none;
}
.list-our-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  max-width: 360px;
  margin-bottom: 8px;
  text-align: start;
}
.subtitle-our-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  max-width: 360px;
  margin-bottom: 8px;
  text-align: start;
}
.list-link-our-portfolio {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  width: 288px;
}
@media only screen and (min-width: 768px) {
  .list-link-our-portfolio {
    text-align: center;
  }
  .inem-our-img {
    max-width: 356px;
  }
}
@media only screen and (min-width: 1157px) {
  .inem-our-img {
    max-width: 356px;
  }
  .tex-page {
    display: inline-block;
    position: absolute;
    background: #4d5ae5;
    color: #f4f4fd;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .container-owerlay {
    position: relative;
    overflow: hidden;
  }
  .list-link-our-portfolio {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 356px;
    box-shadow: none;
  }
  .list-link-our-portfolio:hover .tex-page {
    transform: translateY(0%);
  }
  .list-link-our-portfolio:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
}
/* ============ /section Our team style  =============*/

/* ============ section flooter style  =============*/
.logo-flooter {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: block;
  text-align: center;
}
.text-web-flooter {
  color: #f4f4fd;
}
.list-flooter {
  background: #2e2f42;
  padding: 100px 0;
}
.list-link-flooter-icons {
  width: 40px;
  height: 40px;
}
.text-flooter-icon {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  margin-top: 72px;
  text-align: center;
}
.icons-flooter {
  display: flex;
  gap: 16px;
}
.social-icons-flooter-svg {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-flooter-svg:hover,
.social-icons-flooter-svg:focus {
  background-color: #31d0aa;
}
.ligo-icon {
  fill: #f4f4fd;
}
.subscribe-flooter-paragraph {
  margin-bottom: 16px;
  margin-top: 72px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.form-subscribe {
  gap: 24px;
}
.input-flooter-wrapper {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.input-flooter-wrapper::placeholder {
  color: #ffffff;
}
.label-footer-btn {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin-left: 24px;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 16px;
}
.svg-flooter-label {
  fill: #ffffff;
  margin-left: 16px;
}
.label-footer-btn:hover,
.label-footer-btn:focus {
  background-color: #404bbf;
}
.abbreviation {
  color: #f4f4fd;
  max-width: 264px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.hero-list-flooter {
  text-align: center;
  display: ruby;
}
@media only screen and (min-width: 1157px) {
  .footer-logo-text {
    margin-right: 120px;
  }
  .form-subscribe {
    display: flex;
  }
  .logo-flooter {
    display: inline-block;
  }
  .container.container-flooter {
    display: flex;
    align-items: baseline;
  }
  .subscribe-flooter-paragraph {
    text-align: left;
    margin-left: 80px;
  }
  .label-footer-btn {
    margin-top: 0;
  }
  .hero-list-flooter {
    text-align: left;
    display: block;
  }
  .form-subscribe {
    margin-left: 80px;
  }
  .text-flooter-icon {
    text-align: left;
  }
  .label-footer-btn {
    margin-left: 0;
  }
}
/* ============ /section flooter style  =============*/
