h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ol,ul{
    list-style-type: none;
    margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
    display: block;
  }
a{
    text-decoration: none;
}
button {
    cursor: pointer;
  }
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}
.page-heder{
    border-bottom: 1px solid #e7e9fc;
}
.container{
    width: 1128px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.one-container{
    display: flex;
    align-items: center;
    width: 1158px;
}
.page-nav{
    display: flex;
    align-items: center;
    padding-right: 300px;
}
.menu{
     display: flex;  
     gap: 40px; 
}
.logo{
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    padding-right: 76px;
}
.text-web{
     color: #2e2f42;
}
.link-menu{
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2e2f42;
}
.link-menu.acktive{
     color: #404bbf;
}
.link-menu:hover,
.link-menu:focus{
    color: #404bbf;
}
.contakt{
    display: flex;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px; 
}
.contakt-link{
    display: block;
    font-size: 16px;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}
.contakt-link:hover,
.contakt-link:focus{
    color: #404bbf;
}
.hero-contaienr{
    padding-top: 188px;
    padding-bottom: 292px;
    padding-left: 472px;
    padding-right: 472px;
    background-color: #2e2f42;;
}
.order{
    margin-bottom: 48px;
    max-width: 496px;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.hero-btn-block{
    display: block;
    text-align: center;
}
.btn-order-service{
    min-width: 169px;
    height: 56px;
    padding-left: 32px;
    padding-right: 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #ffffff;
    border: none;
}
.btn-order-service:hover,
.btn-order-service:focus{
    background-color: #404BBF;
}
.twy-hero{
    display: none
}
.link-our-advantages{
    display: flex;
    column-gap: 24px;
}
.list-our-advantages{
    width: 264px;
}
.list-link-advantages{
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 156px;
    padding-right: 156px;
}
.benefist-list{
    column-gap: 24px;
    padding-bottom: 8px;
    align-items: center;
    font-weight: 500;
    font-size: 20px;    
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.benefist-list-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-taem{
    background: #f4f4fd;
    min-height: 732px;
}
.section-link-list-team{
    display: flex;
    column-gap: 24px;
}
.list-team{
    padding-top: 120px;
    padding-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.link-team-section{
    background-color: #FFFFFF;
    min-width: 264px;
}
.text-avatara{
    padding-top: 32px;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 500;
    font-size:20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42 ;
}
.subtitle-avatar{
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-portfolio{
    padding-top: 120px;
    padding-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}
.link-our-portfolio{
    display: flex;
    flex-wrap: wrap;
    width: 1128px;
    column-gap: 24px;
}
.list-link-our-portfolio{
    width: 360px;
    padding-bottom: 48px;
}
.list-our-portfolio{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.subtitle-our-portfolio{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.logo-flooter{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.text-web-flooter{
    color: #f4f4fd;
}
.abbreviation{
    width: 264px;
    height: 72px;
    padding-bottom: 100
    
    
    px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #f4f4fd;
}

.link-team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.list-flooter{
    background-color: #2e2f42;
    padding-top: 100px;
    padding-left: 156px;
    
}
.blok-contakt{
    font-style: normal;
}
.list-link-team{
    background-color: #F4F4FD;
}
.list-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42 ;
}
.our-portfolio-section{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:  #2e2f42;
}
.section-link-list-team{
    background-color: #FFFFFF;
}
