ol,ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
button {
    cursor: pointer;
  }
  
  img {
    display: block;
  } 
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.text-web{
     color: #2e2f42;
}
.link-menu{
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2e2f42;
}
.link-menu.acktive{
     color: #404bbf;
}
.link-menu:hover,
.link-menu:focus{
    color: #404bbf;
}
.contakt-link{
    font-size: 16px;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}
.contakt-link:hover,
.contakt-link:focus{
    color: #404bbf;
}
.hero{
    background-color: #2e2f42 ;
}
.order{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}
.btn-order-service{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #ffffff;
}
.btn-order-service:hover,
.btn-order-service:focus{
    background-color: #404BBF;
}
.benefist-list{
    font-weight: 500;
    font-size: 20px;    
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.benefist-list-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.list-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.link-team{
    background-color: #FFFFFF;
}
.text-avatar{
    font-weight: 500;
    font-size:20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42 ;
}
.subtitle-avatar{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-portfolio{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}
.list-our-portfolio{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.subtitle-our-portfolio{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.logo-flooter{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.text-web-flooter{
    color: #f4f4fd;
}
.abbreviation{
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #f4f4fd;
}

.link-team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.list-link-team{
    background-color: #F4F4FD;
}
.list-flooter{
    background-color: #2e2f42;
}