ol,ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
button {
    cursor: pointer;
  }
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

h2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-family: Roboto;
}

h3 {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
  }
.one-container{
    display: flex;
    align-items: center;
}  
.page-nav{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    gap: 40px;
}
.list-menu{
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}
.blok-contakt{
    font-style: normal;
    margin-right: auto;
}
.logo{
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.text-web{
     color: #2e2f42;
}
.link-menu{
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2e2f42;
}
.link-menu.acktive{
     color: #404bbf;
}
.link-menu:hover,
.link-menu:focus{
    color: #404bbf;
}
.contakt-link{
    font-size: 16px;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    display: block;
    font-weight: 400;
}
.contakt-link:hover,
.contakt-link:focus{
    color: #404bbf;
}
.contakt{
    display: flex;
    gap: 40px;
}
.hero{
    background-color: #2e2f42 ;
}
.order{
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}
.btn-order-service{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    color: #ffffff;
}
.btn-order-service:hover,
.btn-order-service:focus{
    background-color: #404BBF;
}
.benefist-list{
    font-weight: 500;
    font-size: 20px;    
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.benefist-list-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.list-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.link-team-section{
    background-color: #FFFFFF;
}
.text-avatara{
    font-weight: 500;
    font-size:20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42 ;
}
.subtitle-avatar{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.our-portfolio{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}
.list-our-portfolio{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.subtitle-our-portfolio{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.logo-flooter{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.text-web-flooter{
    color: #f4f4fd;
}
.abbreviation{
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #f4f4fd;
}

.link-team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.list-flooter{
    background-color: #2e2f42;
}
.list-link-team{
    background-color: #F4F4FD;
}
.list-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42 ;
}
.our-portfolio-section{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:  #2e2f42;
}
.section-link-list-team{
    background-color: #FFFFFF;
}