ol,ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
button {
    cursor: pointer;
  }
body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}
img{
    display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

h2 {
  color: #2e2f42;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  font-family: Roboto;
}

h3 {
  color: #2e2f42;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

p {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
  }
.one-container{
    display: flex;
    align-items: center;
}  
.page-nav{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    gap: 40px;
}
.list-menu{
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    padding: 24px 0;
}
.blok-contakt{
    font-style: normal;
    margin-right: auto;
}
.logo{
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.text-web{
     color: #2e2f42;
}
.link-menu{
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #2e2f42;
}
.link-menu.acktive{
     color: #404bbf;
}
.link-menu:hover,
.link-menu:focus{
    color: #404bbf;
}
.contakt-link{
    font-size: 16px;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
    padding: 24px 0;
    display: block;
    font-weight: 400;
}
.contakt-link:hover,
.contakt-link:focus{
    color: #404bbf;
}
.contakt{
    display: flex;
    gap: 40px;
}
.hero{
    background: #2e2f42;
    padding: 188px 0;
}
.order{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    max-width: 496px;
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}
.btn-order-service{
    background: #4d5ae5;
    color: #fff;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    gap: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
}
.btn-order-service:hover,
.btn-order-service:focus{
    background-color: #404BBF;
}
.twy-hero{
    position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link-our-agvantages{
    display: flex;
    gap: 24px;
}
.list-our-advantages{
    width: calc((100% - 72px) / 4);
}
.benefist-list{
    font-weight: 500;
    font-size: 20px;    
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    
}
.benefist-list-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.list-link-team{
    padding: 120px 0;
    background: #f4f4fd;
}
.list-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}
.section-link-list-team{
    display: flex;
    gap: 24px;
}
.row-team{
    padding: 32px 0;
}
.link-team-section{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: calc((100% - 72px) / 4);
}
.team-link-avatar{
    margin-bottom: 32px;
}
.text-avatara{
    font-weight: 500;
    font-size:20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42 ;
    text-align: center;
    margin-bottom: 8px;
}
.subtitle-avatar{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.our-portfolio{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
}
.list-our-portfolio{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.subtitle-our-portfolio{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.logo-flooter{
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
}
.text-web-flooter{
    color: #f4f4fd;
}
.abbreviation{
    color: #f4f4fd;
    max-width: 264px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-team{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.list-flooter{
    background: #2e2f42;
     padding: 100px 0;

}
.list-link-team{
    background-color: #F4F4FD;
}
.list-team{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42 ;
}
.our-portfolio-section{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:  #2e2f42;
}
.section-link-list-team{
    background-color: #FFFFFF;
}