ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }
}
/* ============ header style =============*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.one-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.text-web {
  color: #2e2f42;
}
.page-header {
  border-bottom: 1px solid #e7e9fc;
}
.open-menu-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
  fill: #2f2f37;
}
@media only screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .blok-contakt {
    display: none;
  }
  .contakt {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .open-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    fill: #2f2f37;
  }
}
@media only screen and (min-width: 768px) {
  .blok-contakt {
    display: flex;
  }

  .open-menu-btn {
    display: none;
  }
  .page-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    margin-right: 120px;
  }
  .menu {
    display: flex;
    gap: 40px;
    margin-right: 120px;
  }
  .menu-link {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;

    transition: color 250ms linear;
  }
  .list-menu {
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  .link-menu {
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .blok-contakt {
    font-style: normal;
    margin-left: auto;
  }
  .link-menu.active {
    position: relative;
    color: #404bbf;
  }

  .link-menu.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    bottom: -1px;
  }
  .link-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }
  .link-menu.acktive {
    color: #404bbf;
  }
  .link-menu:hover,
  .link-menu:focus {
    color: #404bbf;
  }
  .contakt-link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    font-weight: 400;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contakt-link:hover,
  .contakt-link:focus {
    color: #404bbf;
  }
  .contakt {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
@media only screen and (min-width: 1158px) {
  .contakt {
    display: flex;
    gap: 40px;
    flex-direction: row;
  }
  .contakt-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
  }
}
/* ============ /header style =============*/

/* ============ section effective style =============*/
.hero {
  background: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/dark-bg.jpg");
  max-width: 320px;
  padding: 61px 0;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.order {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 216px;
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 72px;
}
.btn-order-service {
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  gap: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.btn-order-service:hover,
.btn-order-service:focus {
  background-color: #404bbf;
}
@media only screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet-bg.jpg");
    max-width: 768px;
    padding: 126px 0;
    margin-bottom: 0;
  }
  .order {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    max-width: 500px;
    margin-bottom: 36px;
  }
}

@media only screen and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/desctop-bg2x.jpg");
    max-width: 1440px;
    padding: 158px 0px;
  }
  .orer {
    margin-bottom: 48px;
  }
  .order {
    max-width: 496px;
  }
}
/* ============ /section effective style  =============*/
.our-advantages {
  padding: 96px 0;
}

.link-our-advantages {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.svg-section-advantages {
  display: none;
}

.benefist-list {
  text-align: center;
  margin-bottom: 8px;
}

.benefist-list-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

@media only screen and (min-width: 768px) {
  .link-our-advantages {
    display: flexbox;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .list-our-advantages {
    max-width: 356px;
  }

  .benefist-list {
    text-align: start;
  }
}
@media only screen and (min-width: 1158px) {
  .list-our-advantages {
    width: calc((100% - 72px) / 4);
  }

  .svg-section-advantages {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    height: 112px;
  }

  .benefist-list-text {
    font-weight: 400;
  }
}
/* ============ /section Our advantages style  =============*/

/* ============ section Our team style  =============*/
.list-link-team {
  padding: 120px 0;
  background: #f4f4fd;
}
.team-link-avatar {
  max-width: 100%;
}
.list-team {
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-link-list-team {
  row-gap: 72px;
}
.row-team {
  padding: 32px 0;
}
.link-team-section {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin-bottom: 72px;
  width: 264px;
}
.link-team-section :not(:last-of-type) {
  margin-bottom: 0;
}
.list-ligo-icon {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-list-link {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: #404bbf;
}
.text-avatara {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.subtitle-avatar {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
  .section-link-list-team {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
    align-items: center;
  }
  .link-team-section {
    margin-bottom: 0;
  }
  .link-team-section:not(:last-of-type) {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1158px) {
  .link-team-section {
    width: calc((100% - 72px) / 4);
  }
  .section-link-list-team {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 24px;
  }
}
/* ============ /section Our team style  =============*/

/* ============ /section Our team style  =============*/
.our-portfolio {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}
.our-portfolio-section {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 120px;
}
.inem-our-img {
  max-width: 288px;
}
.link-our-portfolio {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.row {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.tex-page {
  display: none;
}
.list-our-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  max-width: 360px;
  margin-bottom: 8px;
  text-align: start;
}
.subtitle-our-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  max-width: 360px;
  margin-bottom: 8px;
  text-align: start;
}
.list-link-our-portfolio {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
  width: 356px;
}
@media only screen and (min-width: 768px) {
  .list-link-our-portfolio {
    text-align: center;
  }
  .inem-our-img {
    max-width: 356px;
  }
  .link-team-section {
    max-width: 264px;
  }
  .section-link-list-team {
    column-gap: 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .inem-our-img {
    max-width: 356px;
  }
  .tex-page {
    display: inline-block;
    position: absolute;
    background: #4d5ae5;
    color: #f4f4fd;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
  }
  .container-owerlay {
    position: relative;
    overflow: hidden;
  }
  .list-link-our-portfolio {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 356px;
    box-shadow: none;
  }
  .list-link-our-portfolio:hover .tex-page {
    transform: translateY(0%);
  }
  .list-link-our-portfolio:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
      0px 1px 1px 0px rgba(46, 47, 66, 0.16),
      0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  }
}
/* ============ /section Our team style  =============*/

/* ============ section flooter style  =============*/
.logo-flooter {
  color: #4d5ae5;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 16px;
  display: block;
  text-align: center;
}
.text-web-flooter {
  color: #f4f4fd;
}
.list-flooter {
  background: #2e2f42;
  padding: 100px 0;
}
.list-link-flooter-icons {
  width: 40px;
  height: 40px;
}
.text-flooter-icon {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
}
.footer-logo-text {
  margin-bottom: 72px;
}
.icons-flooter {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.social-icons-flooter-svg {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-flooter-svg:hover,
.social-icons-flooter-svg:focus {
  background-color: #31d0aa;
}
.ligo-icon {
  fill: #f4f4fd;
}

.subscribe-flooter-paragraph {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.form-subscribe {
  gap: 24px;
}
.input-flooter-wrapper {
  width: 288px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.input-flooter-wrapper::placeholder {
  color: #ffffff;
}
.label-footer-btn {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin-left: auto;
  margin-right: auto;
  border: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 16px;
}
.svg-flooter-label {
  fill: #ffffff;
  margin-left: 16px;
}
.label-footer-btn:hover,
.label-footer-btn:focus {
  background-color: #404bbf;
}
.abbreviation {
  color: #f4f4fd;
  max-width: 264px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.hero-list-flooter {
  text-align: center;
  margin-bottom: 72px;
}
@media only screen and (min-width: 768px) {
  .container.container-flooter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 108px;
  }
  .hero-list-flooter {
    display: inline-block;
    margin-left: 24px;
  }
  .text-flooter-icon {
    margin-top: 0;
    text-align: left;
  }
  .logo-flooter {
    text-align: left;
  }
  .form-subscribe {
    display: flex;
  }
  .label-footer-btn {
    margin-top: 0;
    margin-left: 0;
  }
  .subscribe-flooter-paragraph {
    text-align: left;
  }
}
@media only screen and (min-width: 1158px) {
  .footer-logo-text {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .form-subscribe {
    display: flex;
  }
  .logo-flooter {
    display: inline-block;
  }
  .container.container-flooter {
    align-items: baseline;
    flex-wrap: nowrap;
    padding-left: 16px;
  }
  .subscribe-flooter-paragraph {
    text-align: left;
  }
  .label-footer-btn {
    margin-top: 0;
  }
  .subscribe-list {
    margin-left: 80px;
  }
  .hero-list-flooter {
    text-align: left;
    display: block;
    margin-left: 0;
    margin-bottom: 0;
  }
  .text-flooter-icon {
    text-align: left;
  }
  .label-footer-btn {
    margin-left: 0;
  }
}
/* ============ /section flooter style  =============*/

/* ============ section backdrop style  =============*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 999999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
}
.decoration-checkbox {
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
}
.decoration-checkbox-svg {
  fill: #fff;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-height: 584px;
  border-radius: 4px;
  width: 288px;
  background: #fcfcfc;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 16px 24px 16px;
}
.close-modal-btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 24px;
  border-radius: 50%;
  border: none;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  stroke-width: 1px;
  stroke: rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-modal-btn:hover,
.close-modal-btn:focus {
  background-color: #404bbf;
  fill: #ffffff;
  border: none;
}
.close-icon-btn {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-modal {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}
.input-form-wrapper {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}
.input-form-wrapper:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.input-form-wrapper:focus + .svg-modal-icons {
  fill: #4d5ae5;
}
.form-subscribe {
  gap: 24px;
}
.lable-form-wrapper {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.form-review-wrapper {
  margin-bottom: 8px;
}
.form-svg-werapper {
  position: relative;
}
.form-review-wrapper.textarea {
  margin-bottom: 16px;
}
.svg-modal-icons {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-review-messang {
  width: 100%;
  height: 120px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
}
.form-review-messang::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.lable-form-checkbox {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}
.decoration-checkbox {
  flex-shrink: 0;

  display: inline-flex;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox-wrapper {
  margin-bottom: 24px;
}
.href-form {
  line-height: 1.33333;
  text-decoration: underline;
  color: #4d5ae5;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.href-form:hover,
.href-form:focus {
  color: #404bbf;
}
.logo-icon .decoration-checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  fill: transparent;
  margin-right: 8px;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-checkbox-wrapper:checked + .lable-form-checkbox .decoration-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border-color: #404bbf;
  border: none;
}
.input-checkbox-wrapper:focus + .lable-form-checkbox .decoration-checkbox {
  outline: 2px solid #4d5ae5;
}
.form-review-messang:focus {
  border-color: #4d5ae5;
  outline: transparent;
}
.review-form-btn {
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding: 16px 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-btn:hover,
.review-form-btn:focus {
  background-color: #404bbf;
}
@media only screen and (min-width: 786px) {
  .modal {
    width: 408px;
    padding: 72px 24px 24px 24px;
  }
}
@media only screen and (min-width: 1158px) {
  .subscribe-flooter-paragraph {
    margin-top: 0;
  }
}
/* ============ /section backdrop style  =============*/

/* ============ mobil menu style =============*/

@media only screen and (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-mobile-nav-menu {
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    padding-bottom: 40px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-list-mobile-nav-menu:focus,
  .link-list-mobile-nav-menu:hover {
    color: #404bbf;
  }
  .mobile-nav-menu {
    margin-bottom: auto;
  }
  .link-list-mobile-nav-menu {
    font-family: "Roboto", sans-serif;
    color: #2e2f42;
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
  }

  .mobile-menu-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 72px;
    padding-bottom: 40px;
  }
  .close-icon-btn {
    fill: #2e2f42;
  }
  .mobile-menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    fill: #2e2f42;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 0;
    line-height: 0;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-close-btn:hover,
  .mobile-menu-close-btn:focus {
    border: none;
    fill: #ffffff;
    background-color: #404bbf;
  }

  .link-list-mobile-menu-contakt {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .list-mobile-menu-contakt {
    padding-bottom: 24px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-list-mobile-menu-contakt:hover,
  .link-list-mobile-menu-contakt:focus {
    color: #404bbf;
  }
  .mobile-menu-contakt {
    padding-bottom: 48px;
  }
  .mobile-menu-icons {
    display: inline-flex;
    gap: 40px;
  }
  .mobile-menu-icons-svg {
  }
  .list-mobile-menu-icons {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list-mobile-menu-icons:focus,
  .list-mobile-menu-icons:hover {
    background-color: #31d0aa;
  }
}
@media only screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* ============ /mobil menu style =============*/
